services:

  chrome:
    image: selenium/standalone-chrome:latest

    container_name: chrome
    ports:
      - "4444:4444"
      - "7900:7900"
      - "5900:5900"
    shm_size: 2g
    environment:
      - SE_VNC_NO_PASSWORD=1
      - SE_SCREEN_WIDTH=1440
      - SE_SCREEN_HEIGHT=900
      - SE_NODE_SESSION_TIMEOUT=300

  firefox:
    image: selenium/standalone-firefox:latest
    container_name: firefox
    ports:
      - "4445:4444"
      - "7901:7900"
      - "5901:5900"
    shm_size: 2g
    environment:
      - SE_VNC_NO_PASSWORD=1
      - SE_SCREEN_WIDTH=1440
      - SE_SCREEN_HEIGHT=900
      - SE_NODE_SESSION_TIMEOUT=300

  edge:
    image: selenium/standalone-edge:latest
    container_name: edge
    ports:
      - "4446:4444"
      - "7902:7900"
      - "5902:5900"
    shm_size: 2g
    environment:
      - SE_VNC_NO_PASSWORD=1
      - SE_SCREEN_WIDTH=1440
      - SE_SCREEN_HEIGHT=900
      - SE_NODE_SESSION_TIMEOUT=300

  tests:
    build: .
    container_name: selenium-tests
    depends_on:
      - chrome
      - firefox
      - edge
    volumes:
      - .:/app
    working_dir: /app
    environment:
        - PYTHONPATH=/app
    command: sh -c "echo 'Waiting for browsers to start...' && 
             sleep 10 && 
             pytest -v"
